header {
    text-align: center;
}

img {
    -webkit-box-shadow: 11px 14px 9px -5px rgba(108, 108, 112, 0.58);
    -moz-box-shadow: 11px 14px 9px -5px rgba(108, 108, 112, 0.58);
    box-shadow: 11px 14px 9px -5px rgba(108, 108, 112, 0.58);
}

.list-record {
    display: flex;
    flex-wrap: wrap;
}

.record {
    position: relative;
    width: 15em;
    margin: 20px auto;
}

.record img {
    border-radius: 15px;
    width: 100%;
}

.record p {
    text-align: center;
    width: 100%;
    margin: 15px 0;
    font-family: 'Overpass', sans-serif;
}

.record a {
    text-decoration: none;
}

.record a:link {
    color: rgb(0, 0, 0);
}

.record a:visited {
    color: rgb(0, 0, 0)
}

.record a:hover {
    color: #5d00ff;
}

.record a:active {
    color: #5d00ff;
}

.record h2 {
    text-align: center;
    margin: 10px 0;
    width: 100%;
    font-size: large;
    font-family: 'Unbounded', cursive;
}

/* Другие статьи */
.record_r {
    position: relative;
    width: 25em;
    margin: 40px auto;
}

.record_r a {
    text-decoration: none;
}

.record_r img {
    border-radius: 15px;
    width: 100%;
}

.record_r p {
    text-align: left;
    width: 100%;
    margin: 15px 0;
    font-family: 'Overpass', sans-serif;
}

.record_r h2 {
    text-align: left;
    margin: 10px 0;
    width: 100%;
    font-size: large;
    font-family: 'Unbounded', cursive;
}

.record_r a:link {
    color: black;
}

.record_r a:visited {
    color: black;
}

.record_r a:focus {
    color: black;
}

.record_r a:hover {
    color: black;
}

.record_r a:active {
    color: black;
}

.just_record {
    margin: 20px 5ch;
}

.just_record h1 {
    text-align: left;
    line-height: 50px;
    font-size: 35px;
}

@media screen and (width <= 480px) {
    .just_record h1 {
        text-align: left;
        line-height: 50px;
        font-size: 30px;
    }
}