h1, h2, h3, h4, h5 {
    margin: 20px 0;
    font-family: Unbounded;
}

p {
    max-width: 10px 0;
    margin-bottom: 10px;
    font-family: Overpass;
}

header h3 {
    width: 95vw;
    display: flex;
    margin: auto;
    text-align: left;
    font-family: Sofia Sans;
}

#header_record {
    margin: 20px 0;
}

#header_record h1 {
    width: 95vw;
    display: flex;
    margin: auto;
    text-align: left;
    font-size: 35px;
}

#img_record {
    margin: 20px 0;
}

#img_record img {
    display: flex;
    width: 95vw;
    /*height: 70ch;*/
    border-radius: 10px;
    object-fit: cover;
    margin: 0 auto;
}

#text_record {
    width: 95vw;
    display: flex;
    margin: 20px auto;
}

#text {
    width: 60%;
}

.img_in_text {
    margin: 30px 0;
}

.img_in_text img {
    width: 35vw;
    display: flex;
    margin: auto;
    border-radius: 5px;
    box-shadow: 10px 5px 5px #a4a4a4;
}

.img_in_text p {
    text-align: center;
    margin: 15px 0;
    color: #898989;
}

.resurs {
    font-size: 20px;
    font-family: Sofia Sans;
}

#сontent {
    background: #cfcdeaa9;
    border-radius: 15px;
    padding: 30px;
    margin-bottom: 25px;
}

.cont_link {
    text-decoration: wavy black;
}

.cont_link:link {
    color: black;
}

.cont_link:visited {
    color: black;
}

.cont_link:hover {
    color: #2f49d7;
}

.cont_link ol a:active {
    color: #2f49d7;
}

@media screen and (width <= 480px) {
    #text {
        width: 100%;
    }

    .img_in_text img {
        width: 75vw;
    }
}

@media screen and (481px <= width <= 768px) {
    #text {
        width: 95%;
    }

    .img_in_text img {
        width: 70vw;
    }
}