h1, h2, h3, h4, h5 {
    margin: 20px 0;
    font-family: 'Unbounded', cursive;
}

p {
    max-width: 10px 0;
    font-family: 'Overpass', sans-serif;
}

header h3 {
    width: 95vw;
    display: flex;
    margin: auto;
    text-align: left;
    font-family: Sofia Sans, sans-serif;
}

#header_record {
    margin: 20px 0;
}

#header_record h1 {
    width: 95vw;
    display: flex;
    margin: auto;
    text-align: left;
    font-size: 35px;
}

#img_record {
    margin: 20px 0;
}

#img_record img {
    display: flex;
    width: 95vw;
    height: 50ch;
    border-radius: 10px;
    object-fit: cover;
    margin: 0 auto;
}

#text_record {
    width: 95vw;
    display: flex;
    margin: 20px auto;
}

#text {
    width: 60%;
}

.img_in_text {
    margin: 30px 0;
}

.img_in_text img {
    width: 35vw;
    display: flex;
    margin: auto;
    border-radius: 5px;
    box-shadow: 10px 5px 5px #a4a4a4;
}

.img_in_text p {
    text-align: center;
    margin: 15px 0;
    color: #898989;
}

@media screen and (max-width: 480px) {
    #text {
        width: 90%;
    }
}

@media screen and (max-width: 768px) {
    #text {
        width: 95%;
    }
}